<div class="picture">
  <div class="container">
    <div class="eria">
      <div class="form-area" style="margin-left: 90px;">
        <h3 class="form-group"> AirHotel でまだ体験したことのない旅をしよう</h3>
        <%= form_tag rooms_path, :method => 'get' do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:address], placeholder: "エリア", class: "form-control" %>
            </br>
            <%= submit_tag "探索", :name => nil, class:"form-control btn btn-normal" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="field" style="background-color: #fff;">
  <div class="container">
    <div class="city d-flex">
      <div class="card-area m-5">
        <h3 class="form-group" style="margin-top: 20px; font-weight: bold;">
          おすすめエリア
        </h3>
        <div class="row">
          <div class="panel-item col-lg-3 col-6">
            <p style="position: absolute; color: #fff; font-weight: bold; margin: auto; font-size: 25px; bottom: -390px; left: 235px;">東京</p>
            <%= link_to image_tag("img_tokyo.jpg", class:"card-image"), rooms_path(search:'東京') %>
          </div>

          <div class="panel-item col-lg-3 col-6">
            <p style="position: absolute; color: #fff; font-weight: bold; margin: auto; font-size: 25px; bottom: -390px; left: 540px;">大阪</p>
            <%= link_to image_tag("img_osaka.jpg", class:"card-image"), rooms_path(search:'大阪') %>
          </div>

          <div class="panel-item col-lg-3 col-6">
            <p style="position: absolute; color: #fff; font-weight: bold; margin: auto; font-size: 25px; bottom: -390px; left: 832px;">名古屋</p>
            <%= link_to image_tag("img_nagoya.jpg", class:"card-image"), rooms_path(search:'名古屋') %>
          </div>

          <div class="panel-item col-lg-3 col-6">
            <p style="position: absolute; color: #fff; font-weight: bold; margin: auto; font-size: 25px; bottom: -390px; left: 1140px;">北海道</p>
            <%= link_to image_tag("img_hokkaido.jpeg", class:"card-image"), rooms_path(search:'北海道') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>