<div class="container">
  <div class="row">

    <div style="margin-bottom: 30px;">
      <div class="col-md-4 text-center d-grid gap-2 col-6 mx-auto d-flex">
        <%= link_to " ルーム登録", new_room_path, class: "btn btn-default" %>
        </br>
        <%= link_to " 登録ルーム一覧", rooms_path, class: "btn btn-default" %>
      </div>
    </div>

    <div class="col-md-15">
      <div class="text-center">
        <div class="card card-default text-center">
          <div class="card-heading">
          予約ルーム一覧
          </div>
          </br>

          <table>
            <thead>
              <tr>
                <th>ルーム画像</th>
                <th>ルーム名</th>
                <th>ルーム紹介</th></br></br>
                <th class="text-nowrap" style="width: 100px;">合計料金</th>
                <th class="text-nowrap" style="width: 120px;">チェックイン</th>
                <th class="text-nowrap">チェックアウト</th>
                <th>予約確定日時</th>
              </tr>
            </thead>

            <tbody>
              <% @reservations.each do |reservation| %>
                <tr>
                  <td class="td"><img src="<%= reservation.room.image_url %>" class="img-index"></td>
                  <td class="td text-nowrap"><%= link_to reservation.room.room_name, room %></td>
                  <td class="td" style="width: 200px;"><%= reservation.room.description %></td>
                  <td class="td"> &yen; <%= reservation.total.to_i %></td>
                  <td class="td"><%= reservation.start_date %></td>
                  <td class="td"><%= reservation.end_date %></td>
                  <td class="td"><%= reservation.created_at %></td>
                  <td><%= link_to "キャンセル", reservation, method: :delete, data: { confirm: "本当にキャンセルしますか？" }, class: "btn btn-normal text-nowrap" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>
</div>
